In [1]:
import pandas as pd
import numpy as np
from backend.database import insertActors, insertDirectors, insertDistributors

In [3]:
# 배우 이름 INSERT
dataset = pd.read_excel("영화 데이터.xlsx")

dataset.drop(dataset[dataset['배우'].isna()].index, inplace=True)

actors = []

for actor in dataset['배우']:
    actors.extend(actor.split(","))

actors = pd.DataFrame({"actors" : list(set(actors))})

# insertActors(actors)

In [4]:
# 감독 이름 INSERT
dataset = pd.read_excel("영화 데이터.xlsx")

dataset.drop(dataset[dataset['감독'].isna()].index, inplace=True)

directors = []

for director in dataset['감독']:
    directors.extend(director.split(","))

directors = pd.DataFrame({"directors" : list(set(directors))})

# insertDirectors(directors)

          directors
0           에이세 카르탈
1             에피 파빠
2         길예르모 아리아가
3         알베르토 카발카티
4               문인수
...             ...
11701       데일 파브리가
11702       스티브 벤델락
11703       스콧 스콰이어
11704  비레미크 크뤠이프하우트
11705           홍지영

[11706 rows x 1 columns]
11706

In [8]:
# 배급사 이름 INSERT
dataset = pd.read_excel("영화 데이터.xlsx")

dataset.drop(dataset[dataset['배급사'].isna()].index, inplace=True)

distributors = []

for distributor in dataset['배급사']:
    distributors.extend(distributor.split(","))

distributors = pd.DataFrame({"distributors" : list(set(distributors))})

insertDistributors(distributors)